<meta charset="UTF-8">
<title><%= title %></title>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-rim-auto-match" content="none">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Cache-Control" content="no-cache">
<link rel="shortcut icon" href="data:image/ico;base64,aWNv">
<script>/* lib-flexible */
!function (e, t) {
  function n() {
    t.body ? t.body.style.fontSize = 12 * o + "px" : t.addEventListener("DOMContentLoaded", n);
  }

  function d() {
    var e = i.clientWidth / 10;
    i.style.fontSize = e + "px";
  }

  var i = t.documentElement, o = e.devicePixelRatio || 1;
  if (n(), d(), e.addEventListener("resize", d), e.addEventListener("pageshow", function (e) {
    e.persisted && d();
  }), o >= 2) {
    var a = t.createElement("body"), s = t.createElement("div");
    s.style.border = ".5px solid transparent", a.appendChild(s), i.appendChild(a), 1 === s.offsetHeight && i.classList.add("hairlines"), i.removeChild(a);
  }
}(window, document);</script>
<style>
  * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  html {
    font-size: 85.3333px;
    -webkit-text-size-adjust: none;
  }

  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, select, th, td {
    margin: 0px;
    padding: 0px;
  }

  s, i, em, b, strong {
    font-style: normal;
    text-decoration: none;
  }

  /*去除表单元素的默认效果*/
  button, input, textarea, select {
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
  }

  /*去除IE里select的默认外观*/
  select::-ms-expand {
    display: none;
  }

  select:focus, select:active {
    background-color: transparent;
  }

  input[type=text]::-ms-clear, input[type=tel]::-ms-clear, input[type=number]::-ms-clear {
    display: none;
  }

  /*禁用常用标签在选中的时候出现半透明效果或者黄色边框*/
  body, a, img, label, button, input, textarea, select {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  input::-webkit-input-placeholder {
    color: #cecece;
    /* 设置input的提示文字默认为灰色 */
  }

  /* li {
    list-styles: none outside none;
  } */
  ul, ol {
    list-style: outside none none;
  }

  h1, h2, h3, h4, h5, h6, b {
    font-weight: normal;
  }

  a, img {
    /*-webkit-touch-callout: none;*/
    text-decoration: none;
    color: inherit;
    /* 禁止长按链接与图片弹出菜单 */
  }

  img {
    border: none;
  }

  /*禁用长按链接弹出效果*/
  html, body {
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    touch-action: manipulation;
    /*-webkit-touch-callout: none;*/
    /* 禁止长按链接与图片弹出菜单 */
    -webkit-overflow-scrolling: touch;
    /* 滚动时更顺畅 */
    /*-webkit-user-select:none;*/
    /*禁止选择文字*/
  }

  body {
    font-family: "pingfang sc medium", "Microsoft Yahei", Arial, "Hiragino Sans GB", "simsun";
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    font-size: 0; /* 消除display:inline-block 的3px-5px的边距 */
  }

  .r {
    float: right;
  }

  .f-clearfix {
    zoom: 1;
    overflow: hidden;
  }

  .f-clearfix:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .f-clor-blue {
    color: #00b0e4;
  }
</style>